.mt15{
    margin-top: 15px;
}
.mt40{
    margin-top: 40px;
}
.mt100{
    margin-top: 100px;
}
.admin-modal{
    direction: rtl;
    position: relative;
    background-color: #fff;
}
.admin-modal input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    max-width: 100px;
}
.admin-modal input:focus{
    border-color: rgb(63,81,181);
}

.admin-modal .close{
    position: absolute;
    left: 15px;
    top: 10px;
    cursor: pointer;
    color: #666;
}
.admin-modal .close:hover{
    color: #000;
}
.admin-modal .right-border{
    text-align: left;
    padding-top: 15px;
    float: right;
}
.admin-modal .form_block{
    position: relative;
}
.admin-modal .blue-border{
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid blue;
    right: 25%;
}
@media all and (max-width: 991px) {
    .admin-modal .blue-border{
        right: 16.6667%;
    }
}
.admin-modal .row>div{
    padding-bottom: 25px;
}
.admin-modal .center-xs p{
    text-align: center;
}
.admin-modal p{margin: 0;}
.admin-modal .add_btn{
    background-color: #e01649;
    color: #fff;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    outline: none;
}
.admin-modal .add_btn:hover {
    background-color: #ff678e;
}
.admin-modal .hint{
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 2px 10px;
    margin-right: 30px;
}
.admin-modal .hint:after{
    content: '';
    position: absolute;
    top: 3px;
    right: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid rgba(0, 0, 0, 0.35);
}

.admin-modal p.tab{
    float: right;
    margin-left: 30px;
}
.nav-tabs>li {
    float: right;
}
.admin-modal .nav-tabs>li>a {
    border-radius: 0;
    background: #fff;
    padding: 3px 30px;
    border: 1px outset #ccc;
    margin-left: 8px;
    position: relative;
    top: 0;
    -webkit-transition: background-color .17s linear;
    cursor: pointer;
}
.admin-modal .nav-tabs {
    border-bottom: 1px solid transparent;
}
.admin-modal .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #107cb3;
    color: #fff;
    border: 1px solid transparent;
}

.admin-modal md-switch{
    display: inline-block;
}
.admin-modal md-input-container{
    margin: 0;
    max-width: 100px;
    padding: 0 10px;
}
.admin-modal md-input-container .md-errors-spacer {
    min-height: 13px;
    font-size: 12px;
}
.admin-modal md-switch.md-default-theme.md-checked.md-primary .md-bar, md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px solid rgba(119, 119, 119, 0.18);
}
.admin-modal md-switch.md-checked.md-primary .md-thumb {
    background-color: #00FFFF;
}
.admin-modal md-switch.md-primary .md-thumb {
    background-color: #000;
}
.admin-modal md-switch {
    margin: 12px;
    vertical-align: middle;
}
.admin-modal td{padding: 0 15px;}
.admin-modal table.border{
    border-collapse: collapse;
    text-align: center;
 }
.admin-modal table.border, table.border th, table.border td {
    border: 1px solid black;
}
.admin-modal table.border td {
    padding: 0 35px;
}
.admin-modal table{
    text-align: center;
}
.admin-modal table:not(.border) tr>td:first-child{
    text-align: right;
    padding-right: 0;
}
.admin-modal table.indtabl tr>td:last-child{
    min-width: 126px;
}
.admin-modal .text-right{
    text-align: right;
    float: right;
}
.admin-modal .text-left{
    text-align: left;
}
.admin-modal .md-button.md-primary.md-raised{
    background-color: #107cb3;
    border-radius: 0;
    padding: 0 30px;
}
.admin-modal .orange_btn{
    background-color: #ffbc00;
    color: #fff;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    outline: none;
    margin: 0 20px;
    box-shadow: 2px 2px 2px -1px #828282;
}
.admin-modal .orange_btn:hover {
    background-color: #ffa722;
}
.admin-modal .orange_btn .icon-bar {
    display: block;
    margin: auto;
    width: 15px;
    height: 2px;
    border-radius: 1px;
}
.admin-modal .orange_btn .icon-bar {
    background-color: #fff;
}
.admin-modal .orange_btn .icon-bar+.icon-bar {
    margin-top: 4px;
}
.minus, .plus{
    cursor: pointer;
}